html{
	@include media($medium-screen) {
		font-size: 87.5%;

	}
	@include media($small-screen) {
		font-size: 71.25%;
		//$base-font-size:.6em;	
	}
}

.headerContainer {
	text-align:center;
	//@include fill-parent();
	

	//@include background(url("../img/circles-seamless-pattern-1458.png"), linear-gradient(orange, red));
	//@include background(linear-gradient(orange, red));
	//background-color:#336699;
	margin-bottom: 1rem;
	padding-bottom:10px;

}
header{
	//@include span-columns(12);
	@include outer-container();
	//@include pad();
	//@include omega();
	//@include fill-parent();
	
	//@include background-image(linear-gradient( hsla(0, 100%, 100%, 0.08) 50%, transparent 50%), linear-gradient(orange, red) 50%,transparent 50%);
	margin-bottom: 1rem;


}

#bodyContainer{
	//@include fill-parent();
	//@include outer-container();
	//@include pad();
}


div.contentContainer{
	@include outer-container();

}
section.mainContent {
  @include span-columns(9);
  article {
    h2 {
      @include span-columns(6 of 9);
      @include shift(3)
    }
    aside {
      @include span-columns(3 of 9);
      @include shift(-9)
    }
    section {
      @include span-columns(6 of 9);
      @include shift(3)
    }

  }
}
aside.sideContent{
  @include span-columns(3);
  @include omega();
}


.footerContainer{
	//@include fill-parent();
	background-color:#2b303b;
	color:#c0c5ce;
	
}
footer{
	@include pad();
	@include outer-container();
	section{
		@include span-columns(4);
	}
	//@include outer-container();
	//@include span-columns(12);
}

