//html{
//  @include media($large-screen) {
//    font-size: 100%;
//
//  }
//	@include media($medium-screen) {
//		font-size: 87.5%;
//
//	}
//	@include media($small-screen) {
//		font-size: 71.25%;
//	}
//}

html {
  @include media(min-device-width 320px max-device-width 768px) {
    font-size: 2em;
  }
}

.headerContainer {
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: 10px;
}

div.contentContainer {
  @include clearfix;
  padding: 0 1em;
}

section.mainContent {
  @include outer-container();

  aside.sideContent {
    display: none;
  }

  @include media($large-screen)  {


    .articles, .contact, .blog_article {
      @include span-columns(9);
    }

    aside.sideContent {
      @include span-columns(3);
      @include omega();
    }

  }

  @include media(min-device-width 320px max-device-width 768px,12) {

    .articles, .contact, .blog_article {
      @include span-columns(12);
    }

    aside.sideContent {
      display:none;
    }
  }
}

.contact {
  padding-top: 2em;
  & > * {
    @include span-columns(7 of 9);
    @include shift(1)
  }
  .media {
    margin-top: 2em;

    p {
      font-size: 1.2em;
      line-height: 1.5em;
    }
  }

  ul {
    padding-left: 0;

    margin: 3em auto;
    overflow: hidden;
    text-align: center;

    li {
      list-style: none;
      display: inline;
      font-size: 3em;
      padding: 0 .3em;

    }
  }

}

.articles, .blog_article {
  padding-top: 2em;
  time {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .05);
    padding: .1em .2em;
  }
  .day, .month, .year {
    color: slategray;
  }
  .day:after {
    content: ' ';
  }
  .month:after {
    content: ', ';
  }
  .blog, article {
    line-height: 1.4em;
  }

  .blog, .blog_list, article {
    font-size: 1.2em;
    @include media($large-screen) {
      @include span-columns(7 of 9);
      @include shift(1)
    }
    @include media(min-device-width 320px max-device-width 768px, 9) {
      @include span-columns(9);
      @include shift(0)
    }

  }

}

.articles .blog_list {
  ul {
    padding-left: 0;
    border-top: 1px solid #0D4383;
    margin-top: 1em;
  }
  li {
    border-bottom: 1px solid #EBEFF2;
    padding: .5em 0;
    list-style: none;
    span {
      display: inline-block;
      width: 4em;
    }
  }
}

.footerContainer {
  background-color: #2b303b;
  color: #c0c5ce;
  @include pad();
}

footer {

  @include outer-container();
  section {
    @include span-columns(4);
    text-align: left;
  }
  @include media($large-screen) {
    section {
      @include span-columns(4);
      text-align: left;
    }
  }
  @include media(min-device-width 320px max-device-width 768px, 4) {
    section {
      @include span-columns(4);
      text-align: left;
    }
  }

}

