<div class="footerContainer">
  <footer>
    <section>
      <h4>Navigation</h4>
        <ul class="navigation-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/blogs/">Blogs</a></li>
          <li><a href="/about/">About Me</a></li>
        </ul>
    </section>
    <section>
      <h4>Contact</h4>
        <ul class="social">
          <li><a href="https://twitter.com/bluevajra">Twitter</a></li>
          <li><a href="https://www.linkedin.com/in/coryleistikow">Linked In</a></li>
          <li><a href="https://github.com/BlueVajra">GitHub</a></li>
          <li><a href="https://www.facebook.com/cory.leistikow">Facebook</a></li>
          <li><a href="http://www.bluevajra.com/feed.xml">RSS Feed</a></li>
        </ul>
    </section>
    <section>
      <h4>Tech</h4>
        <ul>
          <li><a href="http://middlemanapp.com/" target="_blank">Middleman</a></li>
          <li><a href="http://bourbon.io/" target="_blank">Bourbon / Neat</a></li>
        </ul>
    </section>
  </footer>
</div>