<div class="cards">
  <div class="card">
    <div class="card-image">
      <%= image_tag 'projects/Blue_Vajra.png' %>
    </div>
    <div class="card-header">
      Blue Vajra
    </div>
    <div class="card-copy">
      <p>Personal blog and project site showcasing gSchool and personal projects. Made with Middleman, Bourbon and
        Neat</p>
      <p><a href="http://www.bluevajra.com/" target="_blank">http://www.bluevajra.com/</a></p>
    </div>
    <div class="card-stats">
      <ul>
        <li>3<span>Projects</span></li>
        <li>2<span>Boring Posts</span></li>
        <li>lots<span>of Opinions</span></li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="ribbon-wrapper">
      <div class="ribbon">BETA</div>
    </div>
    <div class="card-image">
      <%= image_tag 'projects/TibetanDictionary.png' %>
    </div>
    <div class="card-header">
      Tibetan Dictionary
    </div>
    <div class="card-copy">
      <p>A crowd-sourced Tibetan dictionary, allowing academics, teachers, and students to share ideas, contribute resources, and store personal notes on Tibetan language and terminology.</p>
      <p><a href="http://tibetan-dictionary-test.herokuapp.com/" target="_blank">http://tibetan-dictionary-test.herokuapp.com/</a></p>
    </div>
    <div class="card-stats">
      <ul>
        <li>100,000+<span>Terms</span></li>
        <li>1<span>Contributer</span></li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <%= image_tag 'projects/Minify-Me.png' %>
    </div>
    <div class="card-header">
      Url Shortener
    </div>
    <div class="card-copy">
      <p>For enjoyment alone, this "URL Shortener" was my first rails project, which was more of an exercise in CSS development. </p>
      <p><a href="http://minify-me.herokuapp.com/" target="_blank">http://minify-me.herokuapp.com/</a></p>
    </div>
    <div class="card-stats">
      <ul>
        <li>2<span>URLs "Minified"</span></li>
        <li>2<span>Evil Villans</span></li>
      </ul>
    </div>
  </div>
</div>