<div class="contact">

  <section>
    <ul id="social-menu">
      <li><a href="https://github.com/BlueVajra"><i class="fa fa-github-square"></i></a></li>
      <li><a href="https://twitter.com/bluevajra"><i class="fa fa-twitter-square"></i></a></li>
      <li><a href="https://www.linkedin.com/in/coryleistikow"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </section>

  <h2>About Me</h2>

  <div class="media">

    <p>My name is Cory Leistikow, a web developer currently living in Boulder, Colorado. Having recently graduated from
      gSchool, I am looking for full-time
      work in the Boulder area, but am open to working remotely. If you are interested in talking to me about any of my
      experiences at gSchool or my
      previous web-design career, you may contact me via any of the methods above.
    </p>

    <h3>Please download <a href="<%= image_path("projects/Cory_Leistikow_resume.pdf") %>">my resume</a>(pdf)</h3>

    <h4>Skill Set</h4>

    <p>While recently focusing on the deeper workings of Ruby on Rails, I have been exploring JavaScript quite
      extensively and have even dabbled with Golang for a while. We covered a number of other tech skills in gSchool
      such as Sinatra, Git, TDD, SQL, PostgreSQL, HTML and CSS. I am not new to the world of web development and have
      almost 10 years of experience in web development ranging from design, development, consulting and management.</p>

    <p>You can see my resume above for projects and work experience or the list below for a current set of relevant skills</p>

    <h5>Experience in:</h5>
    <ul>
      <li>Ruby</li>
      <li>Rails</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>SASS</li>
      <li>JavaScript</li>
      <li>PostgreSQL</li>
      <li>Git</li>
      <li>TDD</li>
      <li>RSpec</li>
      <li>Capybara</li>
      <li>Sinatra</li>
      <li>Middleman</li>
    </ul>

    <h5>Exposure to:</h5>
    <ul>
      <li>Golang</li>
      <li>Angular.js</li>
      <li>Bootstrap</li>
      <li>Wordpress</li>
    </ul>

  </div>

</div>