<div class="contact">
  <h2>About Me</h2>

  <div class="media">

    <p>My name is Cory Leistikow, an aspiring web developer currently studying at gSchool in Boulder, Colorado. I am looking for full-time
      work in the Boulder area. If you are interested in talking to me about any of my experiences at gSchool or my
      previous web-design career, you may contact me via any of the methods below. </p>
  </div>
  <section>
    <ul id="social-menu">
      <li><a href="https://github.com/BlueVajra"><i class="fa fa-github-square"></i></a></li>
      <li><a href="https://twitter.com/bluevajra"><i class="fa fa-twitter-square"></i></a></li>
      <li><a href="https://www.linkedin.com/in/coryleistikow"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </section>
</div>